/*GLOBAL STYLES*/

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    color: #F8F8F2;
}

body {
    background-image: url('./assets/background.jpg');
    background-size: cover; /* */
    background-position: center; /* */
    background-repeat: no-repeat; /* */
    background-attachment: fixed; /* */
    min-height: 100vh; /* */
}